<div class="top"></div>
<div fxLayout="row wrap" fxLayoutAlign="space-around">
  <div fxFlex.lg="60" fxFlex.md="70" fxFlex.sm="80" fxFlex.xs="90">
    <div class="card">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="example-container">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Name"
              formControlName="name"
              [(ngModel)]="card.name"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Mobile 1</mat-label>
            <input
              matInput
              type="text"
              placeholder="Mobile"
              formControlName="mobile1"
              [(ngModel)]="card.mobile1"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Mobile 2 (Optional)</mat-label>
            <input
              matInput
              type="text"
              placeholder="Optional"
              formControlName="mobile2"
              [(ngModel)]="card.mobile2"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Landmark</mat-label>
            <input
              matInput
              type="text"
              placeholder="Landmark"
              formControlName="landmark"
              [(ngModel)]="card.landmark"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Street</mat-label>
            <input
              matInput
              type="text"
              placeholder="Street"
              formControlName="street"
              [(ngModel)]="card.street"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Area</mat-label>
            <input
              matInput
              type="text"
              placeholder="Area"
              formControlName="area"
              [(ngModel)]="card.area"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input
              matInput
              type="text"
              placeholder="City"
              formControlName="city"
              [(ngModel)]="card.city"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Pincode</mat-label>
            <input
              matInput
              type="text"
              placeholder="Pincode"
              formControlName="pincode"
              [(ngModel)]="card.pincode"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>District</mat-label>
            <input
              matInput
              type="text"
              placeholder="District"
              formControlName="district"
              [(ngModel)]="card.district"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>state</mat-label>
            <input
              type="text"
              placeholder="State"
              aria-label="Number"
              matInput
              [formControl]="state"
              [matAutocomplete]="auto"
              formControlName="state"
              [(ngModel)]="card.state"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let state of states" [value]="state">
                {{ state }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <button
            [disabled]="!loginForm.valid"
            mat-raised-button
            color="primary"
            mat-button
            style="width: 95%"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- <div fxFlex.lg="40" fxFlex.md="30" fxFlex.sm="80" fxFlex.xs="90">
    <pre>
  {{ loginForm.value | json }}
   </pre
    >
  </div> -->
</div>
